<!-- <button class="btn btn-info btn-sm" (click)="start()">Start</button> -->
<dashboardheader></dashboardheader>
<!-- <div class="backgroundImage">
  <img src="../../assets/Images/HomePage.jpg">
</div> -->
<div class="row carousel-container">
  <div class="col-5 ">
    <img src="../../assets/Images/carausel1.jpg">
  </div>
  <div class="col-7">
    <div class="quote">
      <blockquote>Enjoy the game and chase your dreams. Dreams do come true.</blockquote>
      <cite>Sachin Tendulkar</cite>
    </div>
  </div>
</div>




<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner video-container">
    <div class="carousel-item active">
      <iframe src="https://www.youtube.com/embed/EY41X9sfxlA" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/CE_iOr_qb-E" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/dtCS0WGZH4k" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/HNXhdo5j914" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/EPwOPr2xkYo" frameborder="0" allowfullscreen></iframe>

    </div>
    <div class="carousel-item">
      <iframe src="https://www.youtube.com/embed/MMU3-nsKhEs" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/WUODHf0IT5U" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/dtCS0WGZH4k" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/YuaGKDxkG5Q" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/CE_iOr_qb-E" frameborder="0" allowfullscreen></iframe>

    </div>
    <div class="carousel-item">
      <iframe src="https://www.youtube.com/embed/HNXhdo5j914" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/MMU3-nsKhEs" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/ynG6tkLO3SQ" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/HNXhdo5j914" frameborder="0" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/dtCS0WGZH4k" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
