.backgroundImage img{
    height: 85.6vh;
    width: 100%;
}
.carousel-container{
	/* background: #0A1829; */
	background: #e8e8e8;
}
.carousel-container img{
    height: 55vh;
}
/* @import url('https://fonts.googleapis.com/css?family=Special+Elite'); */

.quote{
    margin-left: 20%;
    margin-top: 15vh;
}
.quote blockquote {
    font-weight: 100;
	/* color: whitesmoke; */
	color: rgb(92, 90, 90);
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

.quote blockquote:before,
.quote blockquote:after {
	position: absolute;
	/* color: #f1efe6; */
	color: rgb(92, 90, 90);

	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

.quote blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

.quote blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

.quote cite {
	line-height: 3;
    float: right;
    margin-right: 17%;
	/* color: whitesmoke; */
	color: rgb(92, 90, 90);

}
.video-container iframe{
/* border: 3px solid whitesmoke; */
border: 3px solid whitesmoke;
width: 20%;
height: 35vh;
}
